<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/b35d800e-5a0f-4dbc-b135-a923e1e41973/resourceGroups/DurustHR/providers/Microsoft.ContainerRegistry/registries/DurustRG</ContainerResourceId>
    <ContainerResourceName>DurustRG</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>durustrg.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b35d800e-5a0f-4dbc-b135-a923e1e41973/resourceGroups/DurustHR/providers/Microsoft.Web/sites/api-identity-server</ResourceId>
    <ResourceGroup>DurustHR</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://api-identity-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://api-identity-server.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9205e863-3fcc-4bc6-b347-44cac2ec1370</ProjectGuid>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>